Repository JoMndz22/BaseAppReactNative: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{js,ts,jsx,tsx}": ["npm run lint"],
  "*.json": ["prettier --write"]
}

feat: add new splash but not installed plugin
  android/app/src/main/res/drawable/background_splash.xml
  android/app/src/main/res/layout/launch_screen.xml
  android/app/src/main/res/mipmap-hdpi/splash_image.png
  android/app/src/main/res/mipmap-hdpi/splashnuevo.png
  android/app/src/main/res/mipmap-mdpi/splash_image.png
  android/app/src/main/res/mipmap-mdpi/splashnuevo.png
  android/app/src/main/res/mipmap-xhdpi/splash_image.png
  android/app/src/main/res/mipmap-xhdpi/splashnuevo.png
  android/app/src/main/res/mipmap-xxhdpi/splash_image.png
  android/app/src/main/res/mipmap-xxhdpi/splashnuevo.png
  android/app/src/main/res/mipmap-xxxhdpi/splash_image.png
  android/app/src/main/res/mipmap-xxxhdpi/splashnuevo.png
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/styles.xml
Due: none

fix: finally build two screen for splashcreen
  App.tsx
  android/app/src/main/assets/index.android.bundle
  android/app/src/main/res/drawable-hdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_elements_src_assets_backiconmask.png
  android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable/background_splash.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/styles.xml
Due: none

fix: add oficial logo and backgound in second splash
  android/app/src/main/res/drawable-hdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_elements_src_assets_backiconmask.png
  android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable/background_splash.xml
  android/app/src/main/res/drawable/splash_screen.png
  android/app/src/main/res/layout/launch_screen.xml
  android/app/src/main/res/mipmap-hdpi/backgroud_splash.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/backgroud_splash.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/backgroud_splash.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/backgroud_splash.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/backgroud_splash.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Due: none

fix: splashscreen completed
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/values/styles.xml
Due: none

fix: add new vectors like images in splashscreen
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/drawable-hdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_elements_src_assets_backiconmask.png
  android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  android/app/src/main/res/drawable/anda_logo_bottom_splash.xml
  android/app/src/main/res/drawable/anda_vector_splash.xml
  android/app/src/main/res/drawable/background_splash.xml
  android/app/src/main/res/font/poppins_medium.xml
  android/app/src/main/res/layout/launch_screen.xml
  android/app/src/main/res/values/font_certs.xml
  android/app/src/main/res/values/preloaded_fonts.xml
Due: none

build: build header and body in usercard
  src/assets/css/GlobalStyles/GlobalStyles.ts
  src/components/atoms/Row/Row.tsx
  src/components/atoms/p/P.tsx
  src/components/organisms/CardUser/CardUser.tsx
  src/components/organisms/CardUser/cardUser.css.ts
  src/components/organisms/CardUser/cardUser.types.ts
  src/components/organisms/CardUser/index.ts
  src/components/organisms/index.ts
  src/screens/InternalScreen/InternalScreen.tsx
Due: npm run lint

feat: add button components
  metro.config.js
  package.json
  src/components/atoms/Button/Button.types.ts
  src/components/atoms/Button/ButtonIcon.tsx
  src/components/atoms/Button/ButtonPrimary.tsx
  src/components/atoms/Button/ButtonPrimaryIcon.tsx
  src/components/atoms/Button/ButtonSecondary.tsx
  src/components/atoms/Button/index.ts
  src/components/atoms/Svg/Svg.tsx
  src/components/atoms/Svg/Svg.types.ts
  src/components/atoms/Svg/SvgFiles.ts
  src/components/atoms/Svg/index.ts
  src/components/atoms/index.ts
  src/screens/HomeScreen/HomeScreen.tsx
  yarn.lock
Due: npm run lint, prettier --write

refactor(colors): use colors values and some code format
  src/assets/css/Colors/Colors.ts
  src/assets/css/GlobalStyles/GlobalStyles.ts
  src/components/atoms/Button/ButtonIcon.tsx
  src/components/atoms/Button/ButtonPrimary.tsx
  src/components/atoms/Button/ButtonSecondary.tsx
  src/components/atoms/Svg/Svg.tsx
  src/components/atoms/Svg/Svg.types.ts
  src/navigation/MyStacks/Home/HomeStacks.tsx
  src/screens/HomeScreen/HomeScreen.tsx
Due: npm run lint

Feat/buttons (#2)
  metro.config.js
  package.json
  src/assets/css/Colors/Colors.ts
  src/assets/css/GlobalStyles/GlobalStyles.ts
  src/components/atoms/Button/Button.types.ts
  src/components/atoms/Button/ButtonIcon.tsx
  src/components/atoms/Button/ButtonPrimary.tsx
  src/components/atoms/Button/ButtonPrimaryIcon.tsx
  src/components/atoms/Button/ButtonSecondary.tsx
  src/components/atoms/Button/index.ts
  src/components/atoms/Svg/Svg.tsx
  src/components/atoms/Svg/Svg.types.ts
  src/components/atoms/Svg/SvgFiles.ts
  src/components/atoms/Svg/index.ts
  src/components/atoms/index.ts
  src/navigation/MyStacks/Home/HomeStacks.tsx
  src/screens/HomeScreen/HomeScreen.tsx
  yarn.lock
Due: npm run lint, prettier --write

build: cards user home completed with props
  src/assets/css/Colors/Colors.ts
  src/assets/css/GlobalStyles/GlobalStyles.ts
  src/assets/css/index.ts
  src/assets/fonts/Fonts.tsx
  src/assets/index.ts
  src/components/atoms/Block/Block.tsx
  src/components/atoms/Block/index.ts
  src/components/atoms/PBackground/PBackground.tsx
  src/components/atoms/PBackground/index.ts
  src/components/atoms/index.ts
  src/components/atoms/p/P.tsx
  src/components/atoms/p/P.types.ts
  src/components/organisms/CardUser/CardUser.tsx
  src/components/organisms/CardUser/cardUser.css.ts
  src/components/organisms/CardUser/cardUser.types.ts
  src/components/organisms/CardUser/partials/BodyCardUser.tsx
  src/components/organisms/CardUser/partials/FooterCardUser.tsx
  src/components/organisms/CardUser/partials/HeaderCardUser.tsx
  src/components/organisms/CardUser/partials/index.ts
  src/functions/index.ts
  src/functions/utils/Nz/Nz.ts
  src/functions/utils/Nz/index.ts
  src/navigation/MyStacks/Home/HomeStacks.tsx
  src/screens/HomeScreen/HomeScreen.tsx
  src/screens/InternalScreen/InternalScreen.tsx
Due: npm run lint

fix(P): modified prop and modified internal screen
  src/components/atoms/p/P.tsx
  src/components/atoms/p/P.types.ts
  src/components/organisms/CardUser/CardUser.tsx
  src/components/organisms/CardUser/cardUser.types.ts
  src/components/organisms/CardUser/partials/BodyCardUser.tsx
  src/components/organisms/CardUser/partials/FooterCardUser.tsx
  src/components/organisms/CardUser/partials/HeaderCardUser.tsx
  src/components/templates/partials/Header.tsx
  src/screens/InternalScreen/InternalScreen.tsx
Due: npm run lint

fix(ROW): modified row direction on render cards
  src/components/atoms/Row/Row.tsx
  src/components/organisms/CardUser/cardUser.css.ts
  src/screens/InternalScreen/InternalScreen.tsx
Due: npm run lint

chore: svg declaration type
  declarations.d.ts
Due: none

feat: add modal component
  src/assets/images/svg/logo.svg
  src/components/atoms/Button/ButtonPrimary.tsx
  src/components/atoms/Button/ButtonSecondary.tsx
  src/components/atoms/Modal/Modal.styles.ts
  src/components/atoms/Modal/Modal.tsx
  src/components/atoms/Modal/Modal.types.ts
  src/components/atoms/Modal/index.ts
  src/components/atoms/Svg/SvgFiles.ts
  src/components/atoms/index.ts
  src/screens/HomeScreen/HomeScreen.tsx
Due: npm run lint

refactor(camelcase): fix imports and ui bugs on button component
  src/components/atoms/Button/ButtonIcon.tsx
  src/components/atoms/Button/ButtonPrimary.tsx
  src/components/atoms/Button/ButtonPrimaryIcon.tsx
  src/components/atoms/Button/ButtonSecondary.tsx
  src/components/atoms/Button/index.ts
  src/components/atoms/Modal/Modal.styles.ts
  src/components/atoms/Modal/Modal.tsx
  src/components/atoms/Svg/Svg.tsx
  src/screens/HomeScreen/HomeScreen.tsx
  yarn.lock
Due: npm run lint

refactor: change card component name CameCase and ux bugs on button component
  src/components/atoms/Button/ButtonIcon.tsx
  src/components/atoms/Button/ButtonPrimary.tsx
  src/components/atoms/Button/ButtonPrimaryIcon.tsx
  src/components/atoms/Button/ButtonSecondary.tsx
  src/components/atoms/Button/index.ts
  src/components/atoms/Modal/Modal.styles.ts
  src/components/atoms/Modal/Modal.tsx
  src/components/atoms/Svg/Svg.tsx
  src/screens/HomeScreen/HomeScreen.tsx
  yarn.lock
Due: npm run lint
